.example-card {
    left: 10%;
    max-width: 80%;
    display: flex;
  }
  
/* .example-header-image {
  background-size: cover;
} */

.mat-card-lg-image{
  width: 100%;
}

.undtitle{
  font-weight: bold;
}

.feedback {
	margin: 2px;  
}

.shop-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: bl; */
	/* align-items: flex-start; */
}

.price_button{
  display: flex;
  flex-direction: column;
}

.footer{
  margin: 0;
  margin-bottom: 10px;
}