<mat-toolbar color="primary">
	<button mat-mini-fab color="Warn" aria-label="Example icon button with a menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>{{ storeName }}</span>
	<span class="example-spacer"></span>
	<ng-content></ng-content>
	<ng-container *ngIf="(basket$ | async) as arrLength; else simpl">
		<app-basket-num [basketNum]="getCountProducts(arrLength)"></app-basket-num> 
	</ng-container>
</mat-toolbar>

<ng-template #simpl>
	<app-basket-num></app-basket-num> 
</ng-template>