.example-full-width {
	width: 100%;
}

.content-body {
	display: flex;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	/* justify-content: space-between; */
}

.card-container {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	/* justify-content: space-around; */
}

.chevron {
	cursor: pointer;
}

.shop-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carusel-image {
	height: 300px;
	width: 600px;
}
